[submodule "vim-numbertoggle"]
	path = pack/bundle/start/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
	ignore = untracked
[submodule "ctrlp.vim"]
	path = pack/bundle/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim-easymotion"]
	path = pack/bundle/start/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim-multiple-cursors"]
	path = pack/bundle/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "tagbar"]
	path = pack/bundle/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "nord-vim"]
	path = pack/bundle/opt/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "vim-solarized8"]
	path = pack/bundle/opt/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "startuptime.vim"]
	path = pack/bundle/opt/startuptime.vim
	url = https://github.com/tweekmonster/startuptime.vim.git
[submodule "vim-sandwich"]
	path = pack/bundle/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich.git
[submodule "auto-pairs"]
	path = pack/bundle/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "ale"]
	path = pack/bundle/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "zig.vim"]
	path = pack/bundle/start/zig.vim
	url = https://github.com/ziglang/zig.vim.git
