snippet article
	@article{${1:name},
	    author = "${2:author}",
	    journal = "${3:journal}",
	    title = "${4:title}",
	    year = "${5:year}",
	    volume = "${6:vol}",
	    number = "${7:num}",
	    pages = "${8:pages}",
	    howpublished = "\url{${9:howpub}}",
	}

snippet book
	@book{${1:name},
	    author = "${2:author}",
	    title = "${3:title}",
	    year = "${4:year}",
	    publisher = "${5:publisher}",
	}
